<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Core/etc/config.xsd">
    <default>
        <ekomiintegration>
            <general>
                <active>0</active>
                <product_reviews>0</product_reviews>
                <export_method>status</export_method>
                <turnaround_time>10</turnaround_time>
                <smart_check>0</smart_check>
            </general>
            <prc>
                <show_prc>0</show_prc>
            </prc>
        </ekomiintegration>
    </default>
</config>