<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Config\Controller\Adminhtml\System\Config\Save" type="Ekomi\EkomiIntegration\Controller\Rewrite\Adminhtml\System\Config\Save" />
</config>